tr:nth-child(even){
    background-color: rgb(213, 39, 39);
}
table{
    width: 500px;
    margin: 10px;
    border: 1px solid black;
}
th{
    border: solid 1px black;
    background-color: #4a4a09;
}
td{
    border: 1px solid black;
    padding-left: 20px;
}
h1{
text-align: center;
font-size: 22px;
}
.least{
font-style: italic;

}
h2{
    text-align: center;
}
th{
    text-align: center;
    background-color: green;
    color: black;
    font-weight: bolt;

}
.sydm{
text-align: right;

}
@media (min-width: 992px){
    th{
        font-size: 130%
    }
    td{
        font-size: 120%;
    }
    }
@media (max-width: 992px) and (min-width: 768px){
    th{
        font-size: 120%
    }
    td{
        font-size: 110%;
    }
    }
    
@media (max-width: 768px){
        th{
            font-size: 110%;
        }
    }